*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
/* img{
    width: 20px;
} */
/* body{
    color: #5f6368;
} */
a{
    text-decoration: none;
}
nav{
    /* width: 90%; */
    /* height: 4.5rem; */
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div a{
    padding: 3px;
    color: #70757A;
}
.right{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.right img{
    opacity: 0.7;
}
.right a button{
    background-color: #4285F4;
    border: none;
    color: white;
    cursor: pointer;
    width: 65px;
    height: 30px;
    border-radius: 5px;
}
.google{
    display: block;
    width: 272px;
    height: 95px;
    margin: 100px auto 0;
    margin-bottom: 20px;
}
.input{
    display: flex;
    width: 600px;
    height: 45px;
    /* font-size: 17px; */
    /* width: 300px; */
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 25px;
}
.input:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.input input {
    font-size: 20px; 
    width: 500px;
    height: 32px;
    border: none;
    margin-top: 5px;
    /* border-radius: 25px; */
    /* border: 1px solid lightgray; */
}
 .micro{
    margin-left: 10px;
    width: 19px;
    margin: auto;
}
.megni{
    width: 25px;
    margin: auto;
}
.key{
    margin-top: 12px;
    width: 25px;
    height: 20px;
}
textarea:focus, input:focus{
    outline: none;
}
.button{
    border-top: 30px;
    text-align: center;
    border-top: 30px;
    margin: 50px 0;
}
.btn-1, .btn-2{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: none;
    border-radius: 5px;
    width: 125px;
    height: 30px;
    cursor: pointer;
    color: #202124;
    
}
.btn-1:hover, .btn-2:hover{
    box-shadow: rgba(0, 0, 0, 0.1);
    border: 1px solid lightgray;
}
.other{
    text-align: center;
    color: #4D5156;
}
footer{
    position: fixed;
    bottom: 0px;
    background-color: #f2f2f2;
    line-height: 40px;
    width: 100%;
    color: #5f6368;
    


}
#en{
    color: #000080;
}
.lower{
    position: fixed;
    bottom: 0px;
    background-color: #f2f2f2;
    line-height: 40px;
    width: 100%;
    color: #5f6368;
}
.tr{
    padding-left: 18px;
    border-bottom: 1px solid #e4e4e4;
}
.deep{
    border-top: 1px solid #e4e4e4;
}
.deepleft{
    float: left;
    padding-left: 20px;
    
}

.deepright{
    float:right;
    margin-right: 20px;
}
.deepright a{
    margin-right: 20px;
    color: #70757A;
}
.deepleft a{
    margin-right: 20px;
    color: #70757A;
}
.deep a :hover{
text-decoration: underline;
}
a:visited{
    color: #70757A;
}
a:hover{
    text-decoration: underline;
}
.tr a{
    color: #70757A;
}